*{
	margin: 0;
	padding: 0;
}

#wrapper{
	width: 100vw;
	height: 100vh;
}

#connexion{
	width: calc(20vw + 20vh);
	height: calc(15vw + 15vh);
	border: calc(0.25vw + 0.25vh) ridge #E5D6B3;
	border-radius: calc(0.25vw + 0.25vh);
}

#mainlogo{
  width: calc(4vw + 4vh);
  height: calc(4vw + 4vh);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/logofff.png);
}


#connexion label{
	width: 90%;
}

#connexion label .text{
	display: block;
	position: absolute;
	margin: 0px;
	padding: 0px 0px 0px 1em;
	text-align: left;
	line-height: 43px;
	z-index: 100;
}

#connexion input[type="text"], #connexion input[type="password"]{
	width: 100%;
	height: 43px;
	box-sizing: border-box;
	outline: medium none;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 0px 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15) inset, 1px 1px 0px #FFF;
	margin-top: 0px;
	padding-left: 11.5em;
	text-align: left;
	font-size: 0.8em;
}

#btn_connexion{
	background-color: #005BAD;
	border-radius: calc(0.1vw + 0.1vh);
	color: #fff;
	cursor: pointer;
	font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: calc(5px + 0.5vw + 0.5vh);
	font-weight: 500;
	min-width: 150px;
	height: calc(2vw + 2vh);
	padding: 0 calc(0.15vw + 0.15vh);
	position: relative;
	text-align: center;
	font-weight: 700;
	box-sizing: border-box;
	margin: calc(0.15vw + 0.15vh) 0;
}

.text{
	font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}