*{
	margin: 0;
	padding: 0;
}

#wrapper{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#bandeau{
	width: auto;
	height: 60px;
	border: 2px solid #6666;
	border-right: none;
	border-left: none;
	padding: 0 calc(1vw + 1vh);
}

#utilisateur_connecte{
	font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
	color: #666;
	font-size: calc(6px + 0.6vw + 0.6vh);
}

#deconnexion{
  background: #ff4646;
  padding: calc(0.25vw + 0.25vh);
  border-radius: calc(0.15vw + 0.15vh);
  border: 2px ridge #ff2f2f;
  color: #FFF;
}
#deconnexion:hover{
  background: #F00;
  box-shadow: 0px 0px 3px 1px #666C;
  cursor: pointer;
}

#content{
	width: 100vw;
	height: calc(100% - 64px);
	position: relative;
}

#mainlogo{
  position: absolute;
  top: calc(0.5vw + 0.5vh);
  left: 0;
  right: 0;
  width: calc(4vw + 4vh);
  height: calc(4vw + 4vh);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./images/logofff.png);
  margin: auto;
}

.input{
	width: calc(5vw + 5vh);
	height: calc(1.2vw + 1.2vh);
	min-width: 300px;
	min-height: 30px;
	box-sizing: border-box;
	outline: medium none;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 0px 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15) inset, 1px 1px 0px #FFF;
	margin-top: 0px;
	text-align: left;
	font-size: 0.8em;
	margin: calc(0.15vw + 0.15vh) 0;
}

.btn{
	background-color: #005BAD;
	border-radius: calc(0.1vw + 0.1vh);
	color: #fff;
	cursor: pointer;
	font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: calc(5px + 0.5vw + 0.5vh);
	font-weight: 500;
	min-width: 100px;
	height: calc(1.2vw + 1.2vh);
	padding: 0 calc(0.15vw + 0.15vh);
	position: relative;
	text-align: center;
	font-weight: 700;
	box-sizing: border-box;
	margin: calc(0.15vw + 0.15vh) 0;
}

.btn:disabled{
	background-color: #888;
	color: #333;
	cursor: not-allowed;
}

.label{
	color: #666;
	font-size: calc(6px + 0.6vw + 0.6vh);
	font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
	margin: calc(0.5vw + 0.5vh);
}

.title{
	font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: calc(7px + 0.7vw + 0.7vh);
}

.score{
	font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: calc(10px + 1vw + 1vh);
	color: #333;
}

.btn.back{
	background-color: #DDD;
	color: #000;
}

.liste_fill{
	width: 80%;
}
.liste_fm{
	width: 90%;
}
.ligne_liste{
	width: 100%;
	font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: calc(4px + 0.4vw + 0.4vh);
	margin: calc(0.1vw + 0.1vh);
}
.line_but,.line_carton{
	margin: calc(0.2vw + 0.2vh);
}
.ligne_liste:hover{
	background-color: rgba(155,155,155,0.5);
}

.btn_modify{
	width: calc(3vw + 3vh);
	font-size: calc(4px + 0.4vw + 0.4vh);
	min-width: 80px;
	padding: calc(0.2vw + 0.2vh);
	cursor: pointer;
}

.text{
	font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.contre_camp{
	width: 80%;
}

input[type=checkbox]{
	margin: 0 calc(0.2vw + 0.2vh);
}

#print_to_pdf{
	position: absolute;
	right: calc(0.2vw + 0.2vh);
	bottom: calc(0.2vw + 0.2vh);
	width: calc(1.5vw + 1.5vh);
	height: calc(3vw + 3vh);
	background-image: url(./images/pdf.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.logo_equipe,.maillot_equipe{
	width: calc(3vw + 3vh);
	height: calc(3vw + 3vh);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.logo_equipe{
	width: calc(5vw + 5vh);
	height: calc(5vw + 5vh);
}

#valid_creation_equipe{
	margin-right: calc(2vw + 2vh);
}